<div class="row">
  <div class="col-sm-12">
    <p-menubar [model]="items">
      <ng-template pTemplate="end">
        <button pButton pRipple
                icon="pi pi-power-off"
                class="p-button-outlined p-button-secondary"
                label="Log out"
                (click)="logout()"
        >
        </button>
      </ng-template>
    </p-menubar>
  </div>
  <div class="row">
    <p-card header="Welcome">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
    </p-card>
  </div>
</div>
